.fontSizeSmall {
    font-size: 10px;
}

.redDeleteButton{
    background-color: transparent;
    color: rgb(195, 8, 8);
    border: none;
}

h1{
    color: rgb(191, 164, 164);
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

.noTasks {
    color: grey;
}